@model IEnumerable<BusinessObject.Models.Course>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Hưng</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h2>List of Courses</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.CourseID</td>
                    <td>@course.CourseName</td>
                    <td>@course.Rating</td>
                </tr>
            }
        </tbody>
    </table>
</div>
